@CHARSET "ISO-8859-1";
a{
    color:Blue;
    font-size: 8pt;
}
p#userTag{
	margin-left:180pt;
	margin-bottom:-1pt;
}
p#errorTag{
	color:Red;
	font-style:italic;
}
p#forgotPsw{
    margin-left:105pt;
    margin-bottom:-1pt;
    margin-top:-30pt;
}
span#changeFont{
	color:666666;
	font-size: 12px;
}
b#address{
	font-size: 12px;
}
div#passwordError{
    color:666666;
    font-size: 12px;
}
