<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

  <javaee:display-name>Struts Blank</javaee:display-name>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>CreateSchema</javaee:display-name>
    <servlet-name>CreateSchema</servlet-name>
    <servlet-class>example.CreateSchema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSchema</servlet-name>
    <url-pattern>/CreateSchema</url-pattern>
  </servlet-mapping>
<!-- <jsp-config>
<jsp-property-group>
<url-pattern>*.jsp</url-pattern>
<scripting-invalid>false</scripting-invalid>
<el-ignored>false</el-ignored>
</jsp-property-group>
</jsp-config> -->
</web-app>
